@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.App {
  font-family: 'Nunito', sans-serif;
  text-align: center;
}

.main {
  max-width: 400px;
  margin: 0 auto;
}

.form-login {
  display: flex;
  flex-direction: column;
}
