@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.App {
  font-family: 'Nunito', sans-serif;
  text-align: center;
  height: 100vh;
}

.main {
  max-width: 400px;
  margin: 0 auto;
  height: calc(100vh - 80px);
}

.form-login {
  display: flex;
  flex-direction: column;
}

.game-card {
  margin:20px 0;
  background-color:#76AFCF ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
}

.game-card:active {
  box-shadow: 2px 0px 37px -10px rgba(0,0,0,0.75);
}

.button-game-card {
  height: 30px;
}

.image-container {
  display: flex;
  justify-content: space-around;
}

.image-game {
  width: 100px;
  cursor: pointer;
}

.image-game:hover {
  transform: scale(1.1);
}

.image-game-center {
  width: 100px;
}
.reveal-object {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-page-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
