@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.App {
  font-family: 'Nunito', sans-serif;
  text-align: center;
}

.main {
  max-width: 400px;
  margin: 0 auto;
}

.form-login {
  display: flex;
  flex-direction: column;
}

.game-card {
  margin:20px 0;
  background-color:#76AFCF ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
}

.game-card:hover {
  box-shadow: 2px 0px 37px -10px rgba(0,0,0,0.75);
}

.button-game-card {
  height: 30px;
}
